<%= image_tag "logo.gif", size:"272x48", alt: "Morning Glory" %>

<% if current_member %>
  <ul class="account-menu">
    <%= link_to current_member.name + "さん", :account %>
    <%= link_to "ログアウト", :session,
            method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= link_to "TOP", :root %>
    <%= link_to "ニュース", :articles %>
    <%= link_to "ブログ", :entries %>
    <% if current_member %>
    <%= link_to "会員名簿", :members %>
    <%= link_to "管理ページ", "#" %>
    <% end %>
  </ul>
</nav>
